.fontRoboto {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: lighter;
    font-size: small;
}

.imagenIndex {
        background-image: url(../images/AdobeStock_118213211.jpg);
        background-position: center top;
        background-size:cover;
        height: 550px;
}

.bg_gray2{
    background-color: #32363a;
}
