@import "variables";
@import "mixins";


.fontRoboto {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: lighter;
    font-size: small;
}

.a2 {
    transition: background-color .5s;
}

.a2:hover {
    font-size: medium;
}

.imagenIndex {
    background-image: url(../images/AdobeStock_118213211.jpg);
    background-position: center top;
    background-size: cover;
    height: 550px;
}

.imagenHeader {
    background-position: center top;
    background-size: cover;
    height: 250px;
}

.imagenHeader--imagenContacto {
    @extend .imagenHeader;
    background-image: url(../images/contacto.jpg);
}

.imagenHeader--imagenBlog {
    @extend .imagenHeader;
    background-image: url(../images/blog.jpg);

}

.imagenHeader--imagenPorta {
    @extend .imagenHeader;
    background-image: url(../images/porta.jpg);

}

.imagenHeader--imagenClientes {
    @extend .imagenHeader;
    background-image: url(../images/clientes.jpg);

}


.imgBlog1 {
    @include imblog;
    background-image: url(https://www.creativeboom.com/uploads/articles/4f/4fe10a929e1b74d388b105675efb4a27704434f7_1620.jpg);

}

.imgBlog2 {
    @include imblog;
    background-image: url(https://www.creativeboom.com/uploads/articles/8c/8c605df3d07c6feca00247cffb5fc983e5859882_1620.png);

}

.imgBlog3 {
    @include imblog;
    background-image: url(https://www.creativeboom.com/uploads/articles/28/284d17b56add08e6863c00caa2422c813ad3e451_1620.jpg);

}

.imgBlog4 {
    @include imblog;
    background-image: url(https://www.creativeboom.com/uploads/articles/73/73cd98e8fd9bb62d276b1b1dc731eea356566926_1620.jpg);

}

.imgBlog5 {
    @include imblog;
    background-image: url(https://www.creativeboom.com/uploads/articles/f2/f2a15145f9af38d738558abb6216cb9db3ab66a8_1620.jpg);

}

.imgBlog6 {
    @include imblog;
    background-image: url(https://www.creativeboom.com/uploads/articles/c2/c2d1dc0a09c4952ae92ca55a99515118053bb844_1620.jpg);

}

.bg_gray2 {
    background-color: $colorS;
}

.centrar {
    display: flex;
    justify-content: center;
    align-content: center;
}

.contenedorP {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "p1 p1 p2 p3"
        "p1 p1 p4 p4"
        "p5 p5 p6 p6"
        "p7 p8 p9 p10";

        button:hover{
            opacity: 0.8;

        }

    button {
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 250px;
        color: $colorP;
        border-radius: 10px;

    }

    

    .p1 {
        background-image: url(../images/LH.jpg);
        grid-area: p1;
        height: 505px;
    }

    .p2 {
        background-image: url(../images/Bee.jpg);
        grid-area: p2;
    }

    .p3 {
        background-image: url(../images/ADV.jpg);
        grid-area: p3;
    }

    .p4 {
        background-image: url(../images/JAM2.jpg);
        grid-area: p4;
    }

    .p5 {
        background-image: url(../images/Jameson.jpg);
        grid-area: p5;
    }

    .p6 {
        background-image: url(../images/Aberlour.jpg);
        grid-area: p6;
    }

    .p7 {
        background-image: url(../images/slava.jpg);
        grid-area: p7;
    }

    .p8 {
        background-image: url(../images/campi.jpg);
        grid-area: p8;
    }

    .p9 {
        background-image: url(../images/editorial.jpg);
        grid-area: p9;
    }

    .p10 {
        background-image: url(../images/hc.jpg);
        grid-area: p10;
    }
}

.modal_image {
    object-fit: contain;

}

.contenedorBlanco {
    background-color: $colorP;
    color: $colorT;
    font-size: small;
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}


@media screen and (max-width: 767px) {

    .contenedorP {
        grid-template-areas: "p1 p1 p1 p1"
            "p2 p2 p3 p3"
            "p4 p4 p4 p4"
            "p5 p5 p5 p5"
            "p6 p6 p6 p6"
            "p7 p7 p8 p8"
            "p9 p9 p10 p10";
    }

    .p1 {
        height: 250px;
    }
}